.section2{
    flex-direction: column;
    gap: 100px;
    .image1{
        gap: 40px;
        .image{
            .box{
                position: absolute;
                background-color: white;
                padding: 40px;
                box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
                z-index: 999;
                width: 251px;
                height: 388px;
                border-radius: 12px;
                margin-top: 222px;
                margin-left: 186px;
                img{
                    width: 171px;
                    height: 308px;
                }
            }
        }

        .words{
            flex-direction: column;
            gap: 40px;
            h2{
                font-size: 36px;
                font-weight: 400;
                font-family: 'Manrope', sans-serif;
                width: 493px;
            }

            ul{
                margin-top: 30px;
                flex-direction: column;
                gap: 16px;
                li{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    i{
                        color: #0A2640;
                    }
                }
            }

            a{
                background-color: #0A2640;
                padding: 16px 56px;
                color: white;
                font-size: 20px;
                font-weight: 700;
                font-family: 'Open Sans', sans-serif;
                width: 210px;
                border-radius: 56px;
            }
        }
    }
    .image2{
        gap: 40px;
        margin-top: 40px;
        .words{
            flex-direction: column;
            gap: 64px;

            h2{
                font-size: 36px;
                font-weight: 400;
                font-family: 'Manrope', sans-serif;
                width: 493px;
            }

            ul{
                margin-top: -140px;
                flex-direction: column;
                gap: 24px;

                li{
                    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
                    border-radius: 4px;
                    padding: 16px 22px;
                    gap: 10px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                }

                li:nth-child(1){
                    background-color: #0A2640;
                    color: white;
                }
            }
        }

        .child{
            position: absolute;
            width: 291px;
            height: 388px;
            background-color: white;
            border-radius: 12px;
            box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
            margin-top: 304px;
            margin-left: 48px;
            img{
                position: absolute;
                margin-top: -150px;
                margin-left: 50px;
            }
            ul{
                margin-top: 200px;
                flex-direction: column;
                margin-left: 50px;
                gap: 20px;
                li{
                    gap: 10px;
                    font-family: 'Manrope', sans-serif;
                    font-size: 16px;
                }

                .red{
                    color: #0DBBFC;
                }
                .green{
                    color: #69E6A6;
                }
                .blue{
                    color: #C4C4C4;
                }
            }
        }
    }
}